<footer>
    <div class="buttons">
        <button class="to-top" href="#"></button>
    </div>
    <div class="wrap min">
        <section class="widget">
            <div class="row">
                <div class="col-m-4">
                    <h3 class="title-recent">最新文章：</h3>
                    <%- list_posts() %>
                </div>
                <div class="col-m-4">
                    <h3 class="title-date">时光机：</h3>
                    <%- list_archives({ show_count: false }) %>
                </div>
                <div class="col-m-4">
                    <h3 class="title-tags">标签云：</h3>
                    <%- tagcloud() %>
                </div>
            </div>
        </section>
        <section class="sub-footer">
            <p>
                © <%= date(new Date, "YYYY") %> <a href="<%= url_for() %>"><%= config.title %></a>. All Rights Reserved. Theme By <a href="https://github.com/Dreamer-Paul/Hingle" target="_blank" rel="nofollow">Hingle</a>.
                <% if (theme.icp && theme.icp.enable && theme.icp.number) { %>
                    &nbsp;|&nbsp;
                    <a href="<%= theme.icp.link || 'https://beian.miit.gov.cn/' %>" target="_blank" rel="nofollow noopener">
                        <%= theme.icp.number %>
                    </a>
                <% } %>
                <% if (theme.police && theme.police.enable && (theme.police.number || theme.police.code)) { %>
                    &nbsp;|&nbsp;
                    <a href="<%= theme.police.link || '' %>" target="_blank" rel="nofollow noopener" class="police-beian">
                        <span class="police-icon" aria-hidden="true"></span>
                        <span class="police-text"><%= theme.police.number || ('公安备案：' + theme.police.code) %></span>
                    </a>
                <% } %>
            </p>
        </section>
    </div>
</footer>

<%- js(["static/kico.js", "static/hingle.js"]) %>

<script>var hingle = new Paul_Hingle(<%- JSON.stringify(theme.config) %>);</script>

<style>
.police-beian{display:inline-flex;align-items:center;gap:4px}
.police-icon{display:inline-block;width:16px;height:16px;background:#e91e63;border-radius:2px;opacity:.85}
/* 说明：如需官方警徽图标，可将 .police-icon 的 background 设置为图片：
   background:url('https://www.beian.gov.cn/img/ghs.png') no-repeat center/contain; */
</style>
