<% if (theme.social) { %>
    <div class="home-social">
        <% theme.social.forEach(item=> { %>
            <% if (item.title==='RSS' ) { %>
                <a href="javascript:void(0)" title="点击复制 RSS 订阅地址"
                    onclick="navigator.clipboard.writeText(location.origin+'<%= item.link %>').then(()=>{var oldToast=document.querySelector('.copy-toast');if(oldToast){oldToast.parentNode.removeChild(oldToast)}var t=document.createElement('div');t.className='copy-toast';t.textContent='RSS 订阅地址已复制';document.body.appendChild(t);requestAnimationFrame(function(){t.classList.add('show')});setTimeout(function(){t.classList.remove('show');setTimeout(function(){if(t.parentNode){t.parentNode.removeChild(t)}},180)},1600)})">
                    <% } else { %>
                        <a href="<%= item.link %>" title="<%= item.title %>">
                            <% } %>
                                <% if (item.svg) { %>
                                    <%- item.svg %>
                                        <% } else { %>
                                            <i class="fa fa-<%= item.icon %>"></i>
                                            <% } %>
                        </a>
                        <% }) %>
    </div>
    <% } %>